### 1. Importing Libraries

In [131]:
### Importing Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

### 2. Reading CSV File from CGM Data

In [132]:
cgm_data_frame = pd.read_csv("CGMData.csv", low_memory=False)

In [133]:
cgm_data_frame

,Index,Date,Time,New Device Time,BG Reading (mg/dL),Linked BG Meter ID,Basal Rate (U/h),Temp Basal Amount,Temp Basal Type,Temp Basal Duration (h:mm:ss),...,Scroll Step Size,Insulin Action Curve Time,Sensor Calibration Rejected Reason,Preset Bolus,Bolus Source,Network Device Associated Reason,Network Device Disassociated Reason,Network Device Disconnected Reason,Sensor Exception,Preset Temp Basal Name
0,20355,2/12/2018,13:22:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20356,2/12/2018,13:17:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20357,2/12/2018,13:12:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SENSOR_ERROR,NaN
3,20358,2/12/2018,13:07:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SENSOR_ERROR,NaN
4,20359,2/12/2018,13:02:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SENSOR_ERROR,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55338,52855,7/25/2017,12:28:54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55339,52856,7/25/2017,12:23:54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55340,52857,7/25/2017,12:18:54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55341,52858,7/25/2017,12:13:54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55342,52859,7/25/2017,12:08:54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
### Checking the types of attributes present in this dataframe
cgm_data_frame.dtypes

Index                                    int64
Date                                    object
Time                                    object
New Device Time                        float64
BG Reading (mg/dL)                     float64
Linked BG Meter ID                     float64
Basal Rate (U/h)                       float64
Temp Basal Amount                      float64
Temp Basal Type                        float64
Temp Basal Duration (h:mm:ss)          float64
Bolus Type                             float64
Bolus Volume Selected (U)              float64
Bolus Volume Delivered (U)             float64
Bolus Duration (h:mm:ss)               float64
Prime Type                             float64
Prime Volume Delivered (U)             float64
Alarm                                  float64
Suspend                                float64
Rewind                                 float64
BWZ Estimate (U)                       float64
BWZ Target High BG (mg/dL)             float64
BWZ Target Low BG (mg/dL)              float64
BWZ Carb Ratio (g/U)                   float64
BWZ Insulin Sensitivity (mg/dL/U)      float64
BWZ Carb Input (grams)                 float64
BWZ BG Input (mg/dL)                   float64
BWZ Correction Estimate (U)            float64
BWZ Food Estimate (U)                  float64
BWZ Active Insulin (U)                 float64
Sensor Calibration BG (mg/dL)          float64
Sensor Glucose (mg/dL)                 float64
ISIG Value                             float64
Event Marker                            object
Bolus Number                           float64
Bolus Cancellation Reason              float64
BWZ Unabsorbed Insulin Total (U)       float64
Final Bolus Estimate                   float64
Scroll Step Size                       float64
Insulin Action Curve Time              float64
Sensor Calibration Rejected Reason     float64
Preset Bolus                           float64
Bolus Source                           float64
Network Device Associated Reason       float64
Network Device Disassociated Reason    float64
Network Device Disconnected Reason     float64
Sensor Exception                        object
Preset Temp Basal Name                 float64
dtype: object

In [135]:
cgm_data_frame['Sensor Glucose (mg/dL)'].dtypes

dtype('float64')

In [136]:
cgm_data_frame['Date'].dtypes

dtype('O')

In [137]:
cgm_data_frame['Time'].dtypes

dtype('O')

### 3.Types of Important attributes
1. Sensor Glucose - float64
2. Date - Object
3. Time - Object

In [138]:
### Extracting the above set of attributes
cgm_data_filtered_set = cgm_data_frame[["Date", "Time", "Sensor Glucose (mg/dL)"]]

In [139]:
### Viewing the set of attributes required to us
cgm_data_filtered_set

            Date      Time  Sensor Glucose (mg/dL)
0      2/12/2018  13:22:27                   118.0
1      2/12/2018  13:17:27                   122.0
2      2/12/2018  13:12:27                     NaN
3      2/12/2018  13:07:27                     NaN
4      2/12/2018  13:02:27                     NaN
...          ...       ...                     ...
55338  7/25/2017  12:28:54                   311.0
55339  7/25/2017  12:23:54                   311.0
55340  7/25/2017  12:18:54                   309.0
55341  7/25/2017  12:13:54                   310.0
55342  7/25/2017  12:08:54                   314.0

[55343 rows x 3 columns]

In [140]:
### Adding a Timestamp column to the cgm_data_filtered_set

cgm_data_filtered_set["Timestamp"] = cgm_data_filtered_set['Date'] + ' ' + cgm_data_filtered_set['Time']
cgm_data_filtered_set["Timestamp"] = cgm_data_filtered_set["Timestamp"].apply(pd.to_datetime)
cgm_data_filtered_set

/var/folders/ps/lq6nm9611sj376j04cd4y41r0000gn/T/ipykernel_72581/1992324947.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cgm_data_filtered_set["Timestamp"] = cgm_data_filtered_set['Date'] + ' ' + cgm_data_filtered_set['Time']
/var/folders/ps/lq6nm9611sj376j04cd4y41r0000gn/T/ipykernel_72581/1992324947.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cgm_data_filtered_set["Timestamp"] = cgm_data_filtered_set["Timestamp"].apply(pd.to_datetime)

            Date      Time  Sensor Glucose (mg/dL)           Timestamp
0      2/12/2018  13:22:27                   118.0 2018-02-12 13:22:27
1      2/12/2018  13:17:27                   122.0 2018-02-12 13:17:27
2      2/12/2018  13:12:27                     NaN 2018-02-12 13:12:27
3      2/12/2018  13:07:27                     NaN 2018-02-12 13:07:27
4      2/12/2018  13:02:27                     NaN 2018-02-12 13:02:27
...          ...       ...                     ...                 ...
55338  7/25/2017  12:28:54                   311.0 2017-07-25 12:28:54
55339  7/25/2017  12:23:54                   311.0 2017-07-25 12:23:54
55340  7/25/2017  12:18:54                   309.0 2017-07-25 12:18:54
55341  7/25/2017  12:13:54                   310.0 2017-07-25 12:13:54
55342  7/25/2017  12:08:54                   314.0 2017-07-25 12:08:54

[55343 rows x 4 columns]

In [141]:
cgm_data_filtered_set["Timestamp"]

0       2018-02-12 13:22:27
1       2018-02-12 13:17:27
2       2018-02-12 13:12:27
3       2018-02-12 13:07:27
4       2018-02-12 13:02:27
                ...
55338   2017-07-25 12:28:54
55339   2017-07-25 12:23:54
55340   2017-07-25 12:18:54
55341   2017-07-25 12:13:54
55342   2017-07-25 12:08:54
Name: Timestamp, Length: 55343, dtype: datetime64[ns]

In [142]:
cgm_data_filtered_set.dtypes

Date                              object
Time                              object
Sensor Glucose (mg/dL)           float64
Timestamp                 datetime64[ns]
dtype: object

In [143]:
cgm_data_filtered_set.fillna(0, inplace=True)
cgm_data_filtered_set

/var/folders/ps/lq6nm9611sj376j04cd4y41r0000gn/T/ipykernel_72581/3487847174.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cgm_data_filtered_set.fillna(0, inplace=True)

            Date      Time  Sensor Glucose (mg/dL)           Timestamp
0      2/12/2018  13:22:27                   118.0 2018-02-12 13:22:27
1      2/12/2018  13:17:27                   122.0 2018-02-12 13:17:27
2      2/12/2018  13:12:27                     0.0 2018-02-12 13:12:27
3      2/12/2018  13:07:27                     0.0 2018-02-12 13:07:27
4      2/12/2018  13:02:27                     0.0 2018-02-12 13:02:27
...          ...       ...                     ...                 ...
55338  7/25/2017  12:28:54                   311.0 2017-07-25 12:28:54
55339  7/25/2017  12:23:54                   311.0 2017-07-25 12:23:54
55340  7/25/2017  12:18:54                   309.0 2017-07-25 12:18:54
55341  7/25/2017  12:13:54                   310.0 2017-07-25 12:13:54
55342  7/25/2017  12:08:54                   314.0 2017-07-25 12:08:54

[55343 rows x 4 columns]

### 4. Reading CSV from Insulin data

In [144]:
insulin_data_frame = pd.read_csv("InsulinData.csv", low_memory=False)
insulin_data_frame

,Index,Date,Time,New Device Time,BG Reading (mg/dL),Linked BG Meter ID,Basal Rate (U/h),Temp Basal Amount,Temp Basal Type,Temp Basal Duration (h:mm:ss),...,Insulin Action Curve Time,Sensor Calibration Rejected Reason,Preset Bolus,Bolus Source,Network Device Associated Reason,Network Device Disassociated Reason,Network Device Disconnected Reason,Sensor Exception,Preset Temp Basal Name,Unnamed: 47
0,0,2/12/18,13:20:53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,TEMPORARY,NaN,NaN,NaN,NaN,NaN
1,1,2/12/18,13:20:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2/12/18,13:18:48,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2/12/18,13:18:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2/12/18,13:12:33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,CLOSED_LOOP_MICRO_BOLUS,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41430,22135,7/24/17,19:00:01,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41431,22136,7/24/17,18:59:44,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41432,22137,7/24/17,18:59:44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41433,22138,7/24/17,18:59:44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41434,22139,7/24/17,18:59:42,7/24/17 18:59,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [145]:
insulin_data_frame.dtypes

Index                                    int64
Date                                    object
Time                                    object
New Device Time                         object
BG Reading (mg/dL)                     float64
Linked BG Meter ID                     float64
Basal Rate (U/h)                       float64
Temp Basal Amount                      float64
Temp Basal Type                        float64
Temp Basal Duration (h:mm:ss)          float64
Bolus Type                              object
Bolus Volume Selected (U)              float64
Bolus Volume Delivered (U)             float64
Bolus Duration (h:mm:ss)                object
Prime Type                              object
Prime Volume Delivered (U)             float64
Alarm                                   object
Suspend                                 object
Rewind                                  object
BWZ Estimate (U)                       float64
BWZ Target High BG (mg/dL)             float64
BWZ Target Low BG (mg/dL)              float64
BWZ Carb Ratio (g/U)                   float64
BWZ Insulin Sensitivity (mg/dL/U)      float64
BWZ Carb Input (grams)                 float64
BWZ BG Input (mg/dL)                   float64
BWZ Correction Estimate (U)            float64
BWZ Food Estimate (U)                  float64
BWZ Active Insulin (U)                 float64
Sensor Calibration BG (mg/dL)          float64
Sensor Glucose (mg/dL)                 float64
ISIG Value                             float64
Event Marker                           float64
Bolus Number                           float64
Bolus Cancellation Reason               object
BWZ Unabsorbed Insulin Total (U)       float64
Final Bolus Estimate                   float64
Scroll Step Size                        object
Insulin Action Curve Time              float64
Sensor Calibration Rejected Reason      object
Preset Bolus                           float64
Bolus Source                            object
Network Device Associated Reason        object
Network Device Disassociated Reason     object
Network Device Disconnected Reason      object
Sensor Exception                       float64
Preset Temp Basal Name                 float64
Unnamed: 47                            float64
dtype: object

In [146]:
### Adding a timestamp attribute to the Insulin Data Frame

insulin_data_frame['Timestamp'] = insulin_data_frame['Date'] + ' ' +insulin_data_frame['Time']
insulin_data_frame['Timestamp'] = insulin_data_frame['Timestamp'].apply(pd.to_datetime)
insulin_data_frame

,Index,Date,Time,New Device Time,BG Reading (mg/dL),Linked BG Meter ID,Basal Rate (U/h),Temp Basal Amount,Temp Basal Type,Temp Basal Duration (h:mm:ss),...,Sensor Calibration Rejected Reason,Preset Bolus,Bolus Source,Network Device Associated Reason,Network Device Disassociated Reason,Network Device Disconnected Reason,Sensor Exception,Preset Temp Basal Name,Unnamed: 47,Timestamp
0,0,2/12/18,13:20:53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,TEMPORARY,NaN,NaN,NaN,NaN,NaN,2018-02-12 13:20:53
1,1,2/12/18,13:20:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-02-12 13:20:48
2,2,2/12/18,13:18:48,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-02-12 13:18:48
3,3,2/12/18,13:18:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-02-12 13:18:48
4,4,2/12/18,13:12:33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,CLOSED_LOOP_MICRO_BOLUS,NaN,NaN,NaN,NaN,NaN,NaN,2018-02-12 13:12:33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41430,22135,7/24/17,19:00:01,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 19:00:01
41431,22136,7/24/17,18:59:44,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 18:59:44
41432,22137,7/24/17,18:59:44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 18:59:44
41433,22138,7/24/17,18:59:44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 18:59:44
41434,22139,7/24/17,18:59:42,7/24/17 18:59,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 18:59:42

In [147]:
insulin_data_frame.dtypes

Index                                           int64
Date                                           object
Time                                           object
New Device Time                                object
BG Reading (mg/dL)                            float64
Linked BG Meter ID                            float64
Basal Rate (U/h)                              float64
Temp Basal Amount                             float64
Temp Basal Type                               float64
Temp Basal Duration (h:mm:ss)                 float64
Bolus Type                                     object
Bolus Volume Selected (U)                     float64
Bolus Volume Delivered (U)                    float64
Bolus Duration (h:mm:ss)                       object
Prime Type                                     object
Prime Volume Delivered (U)                    float64
Alarm                                          object
Suspend                                        object
Rewind                                         object
BWZ Estimate (U)                              float64
BWZ Target High BG (mg/dL)                    float64
BWZ Target Low BG (mg/dL)                     float64
BWZ Carb Ratio (g/U)                          float64
BWZ Insulin Sensitivity (mg/dL/U)             float64
BWZ Carb Input (grams)                        float64
BWZ BG Input (mg/dL)                          float64
BWZ Correction Estimate (U)                   float64
BWZ Food Estimate (U)                         float64
BWZ Active Insulin (U)                        float64
Sensor Calibration BG (mg/dL)                 float64
Sensor Glucose (mg/dL)                        float64
ISIG Value                                    float64
Event Marker                                  float64
Bolus Number                                  float64
Bolus Cancellation Reason                      object
BWZ Unabsorbed Insulin Total (U)              float64
Final Bolus Estimate                          float64
Scroll Step Size                               object
Insulin Action Curve Time                     float64
Sensor Calibration Rejected Reason             object
Preset Bolus                                  float64
Bolus Source                                   object
Network Device Associated Reason               object
Network Device Disassociated Reason            object
Network Device Disconnected Reason             object
Sensor Exception                              float64
Preset Temp Basal Name                        float64
Unnamed: 47                                   float64
Timestamp                              datetime64[ns]
dtype: object

In [148]:
insulin_data_frame

,Index,Date,Time,New Device Time,BG Reading (mg/dL),Linked BG Meter ID,Basal Rate (U/h),Temp Basal Amount,Temp Basal Type,Temp Basal Duration (h:mm:ss),...,Sensor Calibration Rejected Reason,Preset Bolus,Bolus Source,Network Device Associated Reason,Network Device Disassociated Reason,Network Device Disconnected Reason,Sensor Exception,Preset Temp Basal Name,Unnamed: 47,Timestamp
0,0,2/12/18,13:20:53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,TEMPORARY,NaN,NaN,NaN,NaN,NaN,2018-02-12 13:20:53
1,1,2/12/18,13:20:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-02-12 13:20:48
2,2,2/12/18,13:18:48,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-02-12 13:18:48
3,3,2/12/18,13:18:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-02-12 13:18:48
4,4,2/12/18,13:12:33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,CLOSED_LOOP_MICRO_BOLUS,NaN,NaN,NaN,NaN,NaN,NaN,2018-02-12 13:12:33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41430,22135,7/24/17,19:00:01,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 19:00:01
41431,22136,7/24/17,18:59:44,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 18:59:44
41432,22137,7/24/17,18:59:44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 18:59:44
41433,22138,7/24/17,18:59:44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 18:59:44
41434,22139,7/24/17,18:59:42,7/24/17 18:59,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 18:59:42

### 5.Extracting only those attributes that are relevant to us such as `Date`, `Time`,`Timestamp`,`Alarm`

In [149]:
insulin_data_frame_filtered = insulin_data_frame[["Date","Time", "Timestamp","Alarm"]]
insulin_data_frame_filtered

          Date      Time           Timestamp                  Alarm
0      2/12/18  13:20:53 2018-02-12 13:20:53                    NaN
1      2/12/18  13:20:48 2018-02-12 13:20:48  Other Alarm Code: 112
2      2/12/18  13:18:48 2018-02-12 13:18:48                    NaN
3      2/12/18  13:18:48 2018-02-12 13:18:48                    NaN
4      2/12/18  13:12:33 2018-02-12 13:12:33                    NaN
...        ...       ...                 ...                    ...
41430  7/24/17  19:00:01 2017-07-24 19:00:01                    NaN
41431  7/24/17  18:59:44 2017-07-24 18:59:44                    NaN
41432  7/24/17  18:59:44 2017-07-24 18:59:44                    NaN
41433  7/24/17  18:59:44 2017-07-24 18:59:44                    NaN
41434  7/24/17  18:59:42 2017-07-24 18:59:42                    NaN

[41435 rows x 4 columns]

In [150]:
auto = insulin_data_frame_filtered.sort_values(by='Timestamp', ascending=True).loc[
                                                                insulin_data_frame_filtered['Alarm']=='AUTO MODE ACTIVE PLGM OFF'].iloc[0]['Timestamp']
auto

Timestamp('2017-08-09 08:07:13')

In [151]:
### Creating a data frame which has all auto mode values greater than the auto timestamp.

auto_data_frame = cgm_data_filtered_set.sort_values(by='Timestamp', ascending=True).loc[
                                                                cgm_data_filtered_set['Timestamp'] >=auto]
auto_data_frame

            Date      Time  Sensor Glucose (mg/dL)           Timestamp
51086   8/9/2017   8:10:05                   173.0 2017-08-09 08:10:05
51085   8/9/2017   8:15:05                   177.0 2017-08-09 08:15:05
51084   8/9/2017   8:20:05                   176.0 2017-08-09 08:20:05
51083   8/9/2017   8:25:05                   175.0 2017-08-09 08:25:05
51082   8/9/2017   8:30:05                   177.0 2017-08-09 08:30:05
...          ...       ...                     ...                 ...
4      2/12/2018  13:02:27                     0.0 2018-02-12 13:02:27
3      2/12/2018  13:07:27                     0.0 2018-02-12 13:07:27
2      2/12/2018  13:12:27                     0.0 2018-02-12 13:12:27
1      2/12/2018  13:17:27                   122.0 2018-02-12 13:17:27
0      2/12/2018  13:22:27                   118.0 2018-02-12 13:22:27

[51087 rows x 4 columns]

*** Creating a Data frame for all manual mode, where all timestamps value are less then auto start timestamp value***

In [152]:

manual_data_frame = cgm_data_filtered_set.sort_values(by='Timestamp', ascending=True).loc[cgm_data_filtered_set['Timestamp'] < auto]
manual_data_frame

            Date      Time  Sensor Glucose (mg/dL)           Timestamp
55342  7/25/2017  12:08:54                   314.0 2017-07-25 12:08:54
55341  7/25/2017  12:13:54                   310.0 2017-07-25 12:13:54
55340  7/25/2017  12:18:54                   309.0 2017-07-25 12:18:54
55339  7/25/2017  12:23:54                   311.0 2017-07-25 12:23:54
55338  7/25/2017  12:28:54                   311.0 2017-07-25 12:28:54
...          ...       ...                     ...                 ...
51091   8/9/2017   7:45:05                   160.0 2017-08-09 07:45:05
51090   8/9/2017   7:50:05                   157.0 2017-08-09 07:50:05
51089   8/9/2017   7:55:05                   158.0 2017-08-09 07:55:05
51088   8/9/2017   8:00:05                   159.0 2017-08-09 08:00:05
51087   8/9/2017   8:05:05                   159.0 2017-08-09 08:05:05

[4256 rows x 4 columns]

In [153]:
auto_data_frame_index = auto_data_frame
auto_data_frame_index = auto_data_frame_index.set_index('Timestamp')
auto_data_frame_index

                          Date      Time  Sensor Glucose (mg/dL)
Timestamp
2017-08-09 08:10:05   8/9/2017   8:10:05                   173.0
2017-08-09 08:15:05   8/9/2017   8:15:05                   177.0
2017-08-09 08:20:05   8/9/2017   8:20:05                   176.0
2017-08-09 08:25:05   8/9/2017   8:25:05                   175.0
2017-08-09 08:30:05   8/9/2017   8:30:05                   177.0
...                        ...       ...                     ...
2018-02-12 13:02:27  2/12/2018  13:02:27                     0.0
2018-02-12 13:07:27  2/12/2018  13:07:27                     0.0
2018-02-12 13:12:27  2/12/2018  13:12:27                     0.0
2018-02-12 13:17:27  2/12/2018  13:17:27                   122.0
2018-02-12 13:22:27  2/12/2018  13:22:27                   118.0

[51087 rows x 3 columns]

### 6. Extracting all Parameters for Auto Mode

1. Percentage time in hyperglycemia (CGM > 180 mg/dL) `Whole Day`

In [154]:
wholeday_hyperglycemia_automode=(auto_data_frame_index.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [auto_data_frame_index['Sensor Glucose (mg/dL)']>180].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

wholeday_hyper_mean_auto = wholeday_hyperglycemia_automode.mean().round()
wholeday_hyper_mean_auto

22.0

2. Percentage time in hyperglycemia (CGM > 180 mg/dL) `DayTime`

In [155]:
daytime_hyperglycemia_automode =(auto_data_frame_index.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [auto_data_frame_index['Sensor Glucose (mg/dL)']>180].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)   
                                                                                        
daytime_hyper_mean_auto = daytime_hyperglycemia_automode.mean().round()

3.Percentage time in hyperglycemia (CGM > 180 mg/dL) `OverNight`

In [156]:
overnight_hyperglycemia_automode = (auto_data_frame_index.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [auto_data_frame_index['Sensor Glucose (mg/dL)']>180].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)   

overnight_hyper_mean_auto = overnight_hyperglycemia_automode.mean().round()

4. Percentage of time in hyperglycemia critical (CGM > 250 mg/dL) `Whole Day`

In [157]:
wholeday_hyper_critical_automode=(auto_data_frame_index.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [auto_data_frame_index['Sensor Glucose (mg/dL)']>250].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
wholeday_hyper_critical_mean_auto = wholeday_hyper_critical_automode.mean().round()

5. Percentage of time in hyperglycemia critical (CGM > 250 mg/dL) `DayTime`

In [158]:
daytime_hyper_critical_automode=(auto_data_frame_index.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [auto_data_frame_index['Sensor Glucose (mg/dL)']>250].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
daytime_hyper_critical_mean_auto = daytime_hyper_critical_automode.mean().round()

6. Percentage of time in hyperglycemia critical (CGM > 250 mg/dL) `Overnight`

In [159]:
overnight_hyper_critical_automode=(auto_data_frame_index.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [auto_data_frame_index['Sensor Glucose (mg/dL)']>250].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

overnight_hyper_critical_mean_auto = overnight_hyper_critical_automode.mean().round()

7. Percentage time in range (CGM >= 70 mg/dL and CGM <= 180 mg/dL) `Whole Day`

In [160]:
wholeday_range_one_automode = (auto_data_frame_index.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [(auto_data_frame_index['Sensor Glucose (mg/dL)']>=70) &(auto_data_frame_index['Sensor Glucose (mg/dL)']<=180)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
wholeday_range_one_mean_auto = wholeday_range_one_automode.mean().round()

8. Percentage time in range (CGM >= 70 mg/dL and CGM <= 180 mg/dL) `DayTime`

In [161]:
daytime_range_one_automode = (auto_data_frame_index.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [(auto_data_frame_index['Sensor Glucose (mg/dL)']>=70) &(auto_data_frame_index['Sensor Glucose (mg/dL)']<=180)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

daytime_range_one_mean_auto = daytime_range_one_automode.mean().round()

9. Percentage time in range (CGM >= 70 mg/dL and CGM <= 180 mg/dL) `OverNight`

In [162]:
overnight_range_one_automode = (auto_data_frame_index.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [(auto_data_frame_index['Sensor Glucose (mg/dL)']>=70) &(auto_data_frame_index['Sensor Glucose (mg/dL)']<=180)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
overnight_range_one_mean_auto = overnight_range_one_automode.mean().round()

10. Percentage time in range secondary (CGM >= 70 mg/dL and CGM <= 150 mg/dL) `Whole Day`

In [163]:
wholeday_range_second_automode = (auto_data_frame_index.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [(auto_data_frame_index['Sensor Glucose (mg/dL)']>=70) &(auto_data_frame_index['Sensor Glucose (mg/dL)']<=150)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

wholeday_range_second_mean_auto = wholeday_range_second_automode.mean().round()

11.Percentage time in range secondary (CGM >= 70 mg/dL and CGM <= 150 mg/dL) `DayTime`

In [164]:
daytime_range_second_automode = (auto_data_frame_index.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [(auto_data_frame_index['Sensor Glucose (mg/dL)']>=70) &(auto_data_frame_index['Sensor Glucose (mg/dL)']<=150)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

daytime_range_second_mean_auto = daytime_range_second_automode.mean().round()

12. Percentage time in range secondary (CGM >= 70 mg/dL and CGM <= 150 mg/dL) `OverNight`

In [165]:

overnight_range_second_automode = (auto_data_frame_index.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [(auto_data_frame_index['Sensor Glucose (mg/dL)']>=70) &(auto_data_frame_index['Sensor Glucose (mg/dL)']<=150)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

overnight_range_second_mean_auto = overnight_range_second_automode.mean().round()

13. Percentage time in hypoglycemia level 1 (CGM < 70 mg/dL) `Whole Day`

In [166]:
wholeday_hypo_one_automode=(auto_data_frame_index.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [auto_data_frame_index['Sensor Glucose (mg/dL)']<70].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

wholeday_hypo_one_mean_auto = wholeday_hypo_one_automode.mean().round()

14. Percentage time in hypoglycemia level 1 (CGM < 70 mg/dL) `DayTime`

In [167]:
daytime_hypo_one_automode=(auto_data_frame_index.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [auto_data_frame_index['Sensor Glucose (mg/dL)']<70].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

daytime_hypo_one_mean_auto = daytime_hypo_one_automode.mean().round()

15.Percentage time in hypoglycemia level 1 (CGM < 70 mg/dL) `OverNight`

In [168]:
overnight_hypo_one_automode=(auto_data_frame_index.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [auto_data_frame_index['Sensor Glucose (mg/dL)']<70].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

overnight_hypo_one_mean_auto = overnight_hypo_one_automode.mean().round()

16.Percentage time in hypoglycemia level 2 (CGM < 54 mg/dL) `Whole Day`

In [169]:
wholeday_hypo_second_automode=(auto_data_frame_index.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [(auto_data_frame_index['Sensor Glucose (mg/dL)']<54) &(auto_data_frame_index['Sensor Glucose (mg/dL)'] > 0)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

wholeday_hypo_second_mean_auto = wholeday_hypo_second_automode.mean().round()

17. Percentage time in hypoglycemia level 2 (CGM < 54 mg/dL) `DayTime`

In [170]:
daytime_hypo_second_automode=(auto_data_frame_index.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [(auto_data_frame_index['Sensor Glucose (mg/dL)']<54) &(auto_data_frame_index['Sensor Glucose (mg/dL)'] > 0)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

daytime_hypo_second_mean_auto = daytime_hypo_second_automode.mean().round()

18. Percentage time in hypoglycemia level 2 (CGM < 54 mg/dL) `OverNight`

In [194]:
overnight_hypo_second_automode=(auto_data_frame_index.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [(auto_data_frame_index['Sensor Glucose (mg/dL)']< 54) & (auto_data_frame_index['Sensor Glucose (mg/dL)'] > 0)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

overnight_hypo_second_mean_auto = overnight_hypo_second_automode.mean().round()

### 7.Extracting same features for the manual mode

**Setting the index for the manual data frame**

In [195]:
manual_data_frame_index = manual_data_frame
manual_data_frame_index = manual_data_frame_index.set_index("Timestamp")
manual_data_frame_index

                          Date      Time  Sensor Glucose (mg/dL)
Timestamp
2017-07-25 12:08:54  7/25/2017  12:08:54                   314.0
2017-07-25 12:13:54  7/25/2017  12:13:54                   310.0
2017-07-25 12:18:54  7/25/2017  12:18:54                   309.0
2017-07-25 12:23:54  7/25/2017  12:23:54                   311.0
2017-07-25 12:28:54  7/25/2017  12:28:54                   311.0
...                        ...       ...                     ...
2017-08-09 07:45:05   8/9/2017   7:45:05                   160.0
2017-08-09 07:50:05   8/9/2017   7:50:05                   157.0
2017-08-09 07:55:05   8/9/2017   7:55:05                   158.0
2017-08-09 08:00:05   8/9/2017   8:00:05                   159.0
2017-08-09 08:05:05   8/9/2017   8:05:05                   159.0

[4256 rows x 3 columns]

1. Percentage time in hyperglycemia (CGM > 180 mg/dL) `Whole Day`

In [196]:


wholeday_hyperglycemia_manualmode=(manual_data_frame_index.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [manual_data_frame_index['Sensor Glucose (mg/dL)']>180].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

wholeday_hyper_mean_manual = wholeday_hyperglycemia_manualmode.mean().round()
wholeday_hyper_mean_manual

27.0

2.  Percentage time in hyperglycemia (CGM > 180 mg/dL) `DayTime`

In [197]:
daytime_hyperglycemia_manualmode=(manual_data_frame_index.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [manual_data_frame_index['Sensor Glucose (mg/dL)']>180].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

daytime_hyper_mean_manual = daytime_hyperglycemia_manualmode.mean().round()
daytime_hyper_mean_manual

24.0

3.Percentage time in hyperglycemia (CGM > 180 mg/dL) `OverNight`

In [198]:
overnight_hyperglycemia_manualmode=(manual_data_frame_index.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [manual_data_frame_index['Sensor Glucose (mg/dL)']>180].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

overnight_hyper_mean_manual = overnight_hyperglycemia_manualmode.mean().round()
overnight_hyper_mean_manual

10.0

4.  Percentage of time in hyperglycemia critical (CGM > 250 mg/dL) `Whole Day`

In [199]:
wholeday_hyper_critical_manualmode=(manual_data_frame_index.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [manual_data_frame_index['Sensor Glucose (mg/dL)']>250].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
wholeday_hyper_critical_mean_manual = wholeday_hyper_critical_manualmode.mean().round()



5. Percentage of time in hyperglycemia critical (CGM > 250 mg/dL) `DayTime`

In [200]:
daytime_hyper_critical_manualmode=(manual_data_frame_index.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [manual_data_frame_index['Sensor Glucose (mg/dL)']>250].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
daytime_hyper_critical_mean_manual = daytime_hyper_critical_manualmode.mean().round()

6. Percentage of time in hyperglycemia critical (CGM > 250 mg/dL) `OverNight`

In [201]:
overnight_hyper_critical_manualmode=(manual_data_frame_index.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [manual_data_frame_index['Sensor Glucose (mg/dL)']>250].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
overnight_hyper_critical_mean_manual = overnight_hyper_critical_manualmode.mean().round()

7. Percentage time in range (CGM >= 70 mg/dL and CGM <= 180 mg/dL) `Whole Day`

In [202]:
wholeday_range_one_manualmode = (manual_data_frame_index.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [(manual_data_frame_index['Sensor Glucose (mg/dL)']>=70) &(manual_data_frame_index['Sensor Glucose (mg/dL)']<=180)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
wholeday_range_one_mean_manual = wholeday_range_one_manualmode.mean().round()

8. Percentage time in range (CGM >= 70 mg/dL and CGM <= 180 mg/dL) `DayTime`

In [203]:
daytime_range_one_manualmode = (manual_data_frame_index.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [(manual_data_frame_index['Sensor Glucose (mg/dL)']>=70) &(manual_data_frame_index['Sensor Glucose (mg/dL)']<=180)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
daytime_range_one_mean_manual = daytime_range_one_manualmode.mean().round()

9.Percentage time in range (CGM >= 70 mg/dL and CGM <= 180 mg/dL) `OverNight`

In [204]:
overnight_range_one_manualmode = (manual_data_frame_index.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [(manual_data_frame_index['Sensor Glucose (mg/dL)']>=70) &(manual_data_frame_index['Sensor Glucose (mg/dL)']<=180)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
overnight_range_one_mean_manual = overnight_range_one_manualmode.mean().round()

10.  Percentage time in range secondary (CGM >= 70 mg/dL and CGM <= 150 mg/dL) `Whole Day`

In [205]:
wholeday_range_second_manualmode = (manual_data_frame_index.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [(manual_data_frame_index['Sensor Glucose (mg/dL)']>=70) &(manual_data_frame_index['Sensor Glucose (mg/dL)']<=150)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

wholeday_range_second_mean_manual = wholeday_range_second_manualmode.mean().round()

11. Percentage time in range secondary (CGM >= 70 mg/dL and CGM <= 150 mg/dL) `Daytime`

In [206]:
daytime_range_second_manualmode = (manual_data_frame_index.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [(manual_data_frame_index['Sensor Glucose (mg/dL)']>=70) &(manual_data_frame_index['Sensor Glucose (mg/dL)']<=150)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

daytime_range_second_mean_manual = daytime_range_second_manualmode.mean().round()

12. Percentage time in range secondary (CGM >= 70 mg/dL and CGM <= 150 mg/dL) `OverNight`

In [207]:
overnight_range_second_manualmode = (manual_data_frame_index.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [(manual_data_frame_index['Sensor Glucose (mg/dL)']>=70) &(manual_data_frame_index['Sensor Glucose (mg/dL)']<=150)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

overnight_range_second_mean_manual = overnight_range_second_manualmode.mean().round()

13. Percentage time in hypoglycemia level 1 (CGM < 70 mg/dL) `Whole Day`

In [208]:
wholeday_hypo_one_manualmode=(manual_data_frame_index.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [manual_data_frame_index['Sensor Glucose (mg/dL)']<70].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

wholeday_hypo_one_mean_manual = wholeday_hypo_one_manualmode.mean().round()

14.Percentage time in hypoglycemia level 1 (CGM < 70 mg/dL) `DayTime`

In [209]:
daytime_hypo_one_manualmode=(manual_data_frame_index.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [manual_data_frame_index['Sensor Glucose (mg/dL)']<70].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

daytime_hypo_one_mean_manual = daytime_hypo_one_manualmode.mean().round()

15.Percentage time in hypoglycemia level 1 (CGM < 70 mg/dL) `OverNight`

In [211]:
overnight_hypo_one_manualmode=(manual_data_frame_index.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [manual_data_frame_index['Sensor Glucose (mg/dL)']<70].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

overnight_hypo_one_mean_manual = overnight_hypo_one_manualmode.mean().round()

16.Percentage time in hypoglycemia level 1 (CGM < 54 mg/dL) `Whole Day`

In [212]:
wholeday_hypo_second_manualmode=(manual_data_frame_index.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [(manual_data_frame_index['Sensor Glucose (mg/dL)']<54) & ((manual_data_frame_index['Sensor Glucose (mg/dL)'] > 0))].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

wholeday_hypo_second_mean_manual = wholeday_hypo_second_manualmode.mean().round()

17. Percentage time in hypoglycemia level 1 (CGM < 54 mg/dL) `DayTime`

In [213]:
daytime_hypo_second_manualmode=(manual_data_frame_index.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [(manual_data_frame_index['Sensor Glucose (mg/dL)'] < 54) & (manual_data_frame_index['Sensor Glucose (mg/dL)'] > 0)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

daytime_hypo_second_mean_manual = daytime_hypo_second_manualmode.mean().round()

18. Percentage time in hypoglycemia level 1 (CGM < 54 mg/dL) `OverNight`

In [214]:
overnight_hypo_second_manualmode=(manual_data_frame_index.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc
                              [(manual_data_frame_index['Sensor Glucose (mg/dL)'] < 54) & (manual_data_frame_index['Sensor Glucose (mg/dL)'] > 0)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

overnight_hypo_second_mean_manual = overnight_hypo_second_manualmode.mean()



### 8.Storing Results into a Result DataFrame

In [215]:
result_dataframe = pd.DataFrame({'hyperglycemia_overnight':[overnight_hyper_mean_manual,
                                                            overnight_hyper_mean_auto],

                                'hyperglycemia_critical_overnight':[overnight_hyper_critical_mean_manual,
                                                                    overnight_hyper_critical_mean_auto],


                                'range_overnight':[overnight_range_one_mean_manual,
                                                   overnight_range_one_mean_auto],


                                'range_second_overnight':[overnight_range_second_mean_manual,
                                                          overnight_range_second_mean_auto],


                                'hypo_one_overnight':[overnight_hypo_one_mean_manual,
                                                      overnight_hypo_one_mean_auto],


                                'hypo_second_overnight':[overnight_hypo_second_mean_manual,
                                                         overnight_hypo_second_mean_auto],
                                 
                                 
                           'hyperglycemia_daytime':[daytime_hyper_mean_manual,
                                                    daytime_hyper_mean_auto],
                                 
                           'hyperglycemia_critical_daytime':[daytime_hyper_critical_mean_manual,
                                                             daytime_hyper_critical_mean_auto],
                                 
                           'range_daytime':[daytime_range_one_mean_manual,
                                            daytime_range_one_mean_auto],
                                 
                           'range_second_daytime':[daytime_range_second_mean_manual,
                                                   daytime_range_second_mean_auto],
                                 
                           'hypo_one_daytime':[daytime_hypo_one_mean_manual,
                                               daytime_hypo_one_mean_auto],
                                 
                           'hypo_second_daytime':[daytime_hypo_second_mean_manual,
                                                  daytime_hypo_second_mean_auto],

                           
                           'hyperglycemia_wholeday':[wholeday_hyper_mean_manual,
                                                     wholeday_hyper_mean_auto],
                                 
                           'hyperglycemia_critical_wholeday':[wholeday_hyper_critical_mean_manual,
                                                              wholeday_hyper_critical_mean_auto],
                                 
                           'range_wholeday':[wholeday_range_one_mean_manual,
                                             wholeday_range_one_mean_auto],
                                 
                           'range_sec_wholeday':[wholeday_range_second_mean_manual,
                                                 wholeday_range_second_mean_auto],
                                 
                           'hypo_one_wholeday':[wholeday_hypo_one_mean_manual,
                                                wholeday_hypo_one_mean_auto],
                                 
                           'hypo_second_wholeday':[wholeday_hypo_second_mean_manual,
                                                   wholeday_hypo_second_mean_auto]
                           },
                          index=['Manual','Auto'])

In [216]:
result_dataframe

,hyperglycemia_overnight,hyperglycemia_critical_overnight,range_overnight,range_second_overnight,hypo_one_overnight,hypo_second_overnight,hyperglycemia_daytime,hyperglycemia_critical_daytime,range_daytime,range_second_daytime,hypo_one_daytime,hypo_second_daytime,hyperglycemia_wholeday,hyperglycemia_critical_wholeday,range_wholeday,range_sec_wholeday,hypo_one_wholeday,hypo_second_wholeday
Manual,10.0,8.0,18.0,15.0,4.0,NaN,24.0,10.0,35.0,27.0,14.0,3.0,27.0,12.0,52.0,40.0,15.0,3.0
Auto,6.0,3.0,20.0,18.0,3.0,2.0,20.0,7.0,45.0,34.0,10.0,2.0,22.0,7.0,65.0,52.0,12.0,2.0

### 9. Putting the details into The Results.CSV file

In [217]:
result_dataframe.to_csv("Results.csv", header=None)